
@{
    ViewData["Title"] = "Pay";
}

<h2>$5 PIZZA</h2>


<div class="alert alert-success">
    <strong>Success!</strong> Your order has been successfully placed.
</div>

<div class="jumbotron">
    <h4>Your order is on the way and should take about 20-25 minutes.</h4>

    <img src="~/images/Pizza5.jpg" width="100%"/>

    <p>
        You ordered:
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Order Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Toppings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Pizza</th>
                    <td>1</td>
                    <td>5.00</td>
                    <td>Pepperoni</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td>Sausage</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td>Salami</td>
                </tr>

                <tr>
                    <th scope="row">Tax</th>
                    <td>-</td>
                    <td>0.50</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">Total</th>
                    <td>-</td>
                    <td>5.50</td>
                    <td>-</td>

                </tr>

            </tbody>
        </table>
    </p>

</div>


