
@{
    ViewData["Title"] = "PizzaHome";
}

<h2>$5 PIZZA</h2>

<hr />

<h4>Get any 3 topping pizza for only $5</h4>

Let's get started

<h5><a asp-controller="Home" asp-action="SizeAndToppingPicker">Create your pizza here.</a></h5>


